body {
    background-color: #e0e0e0;
    height: 100%;
    font-family: 'Outfit', sans-serif;
}

main span {
    padding: 10px;
    font-size: 15px;
}

main span h2 {
    padding: 10px;
    font-size: 15px;
}