body {
    background: linear-gradient(to bottom, #7A29FF, #361270);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Outfit', sans-serif;
}

main span {
    padding: 10px;
    font-size: 20px;
    color: white;
}

main span h2 {
    padding: 10px;
    font-size: 15px;
}