footer {
    background-color: #7A29FF;
    height: 220px;
    width: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: #7A29FF 20px solid;
}

.p4 {
    font-family: 'Outfit', sans-serif;
    color: white;
    
    font-size: medium;
    height: 20px;
}
.footer-1 a{ 
    color: white;
    text-decoration: underline;
    font-family: 'Outfit', sans-serif;
}
.footer-2 a{ 
    color: white;
    text-decoration: underline;
    font-family: 'Outfit', sans-serif;
}


