body {
    background-color: #e0e0e0;
}

main {
    height: 900px;
}

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec1 h1 {
    align-self: stretch;
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
}

.sec1 div {
    width: 90%;
    max-width: 600px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1 div form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.sec1 div form input {
    width: 50%;
}

.sec1 div form label {
    width: 15%;
}

.sec1 div form button {
    width: 15%;
}

.sec1 div:nth-child(2){
    border-radius: 10px 10px 0 0;
}

.sec1 div:nth-child(3){
    border-radius: 0 0 10px 10px;
}


.sec1 div input {
    outline: 0;
    border: none;
    text-align: center;
}

.sec1 div button {
    outline: 0;
    border: 0;
    color: #7A29FF;
}

/* seção 2 */

.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    border-radius: 10px 10px 0 0;
}

.number {
    border-radius: 0 0 10px 10px;
}


.sec2 h1 {
    align-self: stretch;
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
}

.sec2 div form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 95%;
    max-width: 600px;
    height: 45px;
}

.sec2 div form input {
    width: 50%;
}

.sec2 div form label {
    width: 15%;
}

.sec2 div form button {
    width: 15%;
}

.sec2 div {
    width: 90%;
    max-width: 600px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2 div form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.sec2 div input {
    outline: 0;
    border: none;
    text-align: center;
}

.sec2 div button {
    outline: 0;
    border: 0;
    color: #7A29FF;
}