body {
    background-color: #e0e0e0;
}

main {
    height: 900px;
}

main h1 {
    font-size: 20px;
    margin: 20px;
    margin-bottom: 0;
}

main h2 {
    margin-left: 20px;
    margin-bottom: 20px;
    color: rgb(163, 163, 163);
}

section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#all-in {
    background-color: white;
    width: 85%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#all-in label{
    align-self: flex-start;
    margin-left: 10px;
    color: #7A29FF;
}

#all-in:nth-child(2) {
    border-radius: 10px 10px 0 0;
}

.senha {
    border-radius: 0 0 10px 10px;
}

#all-in input {
    width: 90%;
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: 0;
    margin-bottom: 5px;
    background-color: #e7e7e7;
}

.img-up {
    border-radius: 10px;
    margin-bottom: 20px;
}

input#img_usuario {
    background-color: transparent;
}

span.aviso {
    font-size: 15px;
}

.button-sub {
    height: 40px;
    background-color: #7A29FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

#img-preview {
    max-width: 300px;
}