body {
    background-color: #e0e0e0;
}

main {
    height: 900px;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-view {
    background-color: white;
    width: 90%;
    height: 288px;
    display: flex;
    justify-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-view img {
    width: 100%;
}

.email-x {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    border-radius: 10px 10px 0 0;
    width: 87%;
    height: 40px;
    padding: 5px;
}

.nome-x, .cpf-x {
    background-color: white;
    width: 87%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
}


.email-x label,
.nome-x label, .cpf-x label {
    width: 100%;
    text-align: start;
    margin-left: 20%;
    font-weight: bold;
    color: #7A29FF;
}

.email-x span,
.nome-x span, .cpf-x span {
    width: 100%;
    text-align: center;
}

