<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/carrinholateral.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/anunciar.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Anunciar - Athena Shop</title>
</head>

<body>

    <header>

        <a href="/">

            <picture>

                <source media="(max-width: 390px)" srcset="img/logo-icon.png">
                <source media="(max-width: 479px)" srcset="img/logo-icon.png">
                <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">

            </picture>
        </a>

        <input type="search" name="" id="search-bar-header">

        <!--<div class="menu-button" id="cart-icon">&#9776;</div>-->
        <i class='bx bx-cart' id="cart-icon"></i>

        <!--id="cart-icon"-->

        <a href="/usuario"><i class='bx bxs-user-circle' id="profile-user"></i></a>

        <!-- </div> -->

    </header>

    <main>

        <form action="/publicarproduto" method="post" enctype="multipart/form-data" class="sec-all">
            <div class="up-img">

                <i class='bx bxs-image-add' id="add-img-icon"></i>
                <input type="file" name="img_produto" />

            </div>


            <div class="desc">

                <div>
                    <h4>Nome</h4>
                    <input type="text" name="nome_produto">
                </div>

                <div>
                    <h4>Descrição</h4>
                    <textarea name="descricao-produto" id="" cols="30" rows="10"></textarea>
                </div>

                <div>
                    <h4>Quantidade disponivel</h4>
                    <input type="number" value="0" name="quantidade_produto">
                </div>

                <div>
                    <h4>Cores</h4>
                    <select id="cores" name="cores_produto">
                        <option value="Vermelho">Vermelho</option>
                        <option value="Vermelho-alaranjado">Vermelho-alaranjado</option>
                        <option value="Laranja">Laranja</option>
                        <option value="Laranja-amarelado">Laranja-amarelado</option>
                        <option value="Amarelo">Amarelo</option>
                        <option value="Amarelo-verde">Amarelo-verde</option>
                        <option value="Verde">Verde</option>
                        <option value="Verde-azulado">Verde-azulado</option>
                        <option value="Azul">Azul</option>
                        <option value="Azul">Azul-roxo</option>
                        <option value="Roxo">Roxo</option>
                        <option value="Violeta">Violeta</option>
                        <option value="Rosa">Rosa</option>
                        <option value="Preto">Preto</option>
                        <option value="Branco">Branco</option>
                    </select>
                </div>

                <div>
                    <h4>Preço</h4>
                    <input type="text" id="reais" oninput="formatCurrency(this)" placeholder="R$" />
                </div>

                <script>
                    function formatCurrency(input) {
                        // Remove qualquer caractere não numérico
                        let value = input.value.replace(/\D/g, '');

                        // Se o valor não for vazio, formate-o como moeda
                        if (value !== '') {
                            value = parseFloat(value) / 100; // Divida por 100 para trazer as casas decimais
                            input.value = 'R$ ' + value.toFixed(2).replace('.', ','); // Formate como moeda brasileira
                        }
                    }
                </script>
                <section class="buttons">

                    <a href="/usuario"><button class="button-cancel">Cancelar</button></a>
                    <button class="button-publi" type="submit">Publicar</button> <!-- voltar a pagina user -->

                </section>
        </form>
        </div>
    </main>
</body>

</html>