<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="js/bdDados.js">
    <script src="js/notify.js"></script>
    <link rel="stylesheet" href="">
    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">

    <title>Cadastro - Athena Shop</title>
</head>

<body>

    <header>
        <picture>

            <source media="(max-width: 390px)" srcset="img/logo-icon.png">
            <source media="(max-width: 479px)" srcset="img/logo-icon.png">
            <img src="img/logo-letreiro.png" alt="logo-athena" class="logo">

        </picture>
    </header>

    <main>
        <form action="/cadastrar" method="post">
            <h2 class="txt">Cadastrar</h2>
            <label for="nome"></label>
            <input type="text" name="nome" id="nome" value="" placeholder="Nome" required>

            <label for="email"></label>
            <input type="email" name="email" id="email" value="" placeholder="E-mail" required>
            
            <label for="senha"></label>
            <input type="password" name="senha" id="senha" value="" placeholder="Senha" required>
            
            <div id="checkbox-d">
                <input type="checkbox" name="Lembrar" class="checkbox-dd">
                <h4 id="h5-c">Lembrar conta</h4>
            </div>

            <div class="button-logar">
                <button onclick="window.location='/login' " type="button" id="button-login">Logar</button>
            </div>
            
            <div class="button-cadastro">
                <button type="submit" id="button-home">Cadastrar</button>
            </div>
                
        </form>


        </div>
        


    </main>
</body>

</html>
