<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Painel do vendedor - Athena Shop</title>

    <link rel="stylesheet" href="css/painel.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">


    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">
</head>

<header>

    <a href="/">

        <picture>

            <source media="(max-width: 390px)" srcset="img/logo-icon.png">
            <source media="(max-width: 479px)" srcset="img/logo-icon.png">
            <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">

        </picture>
    </a>

    <input type="search" name="" id="search-bar-header">

    <a href="/usuario"><i class='bx bxs-user-circle' id="profile-user"></i></a>

</header>

<body>

    <main>

        <section class="all-prod">

            <div>
                <span>Olá, <%= autenticado.autenticado %>!
                        <h2>Bem vindo ao seu painel do vendedor,
                            analise todos os seus produtos.
                        </h2>
                </span>

            </div>

            <div class="prod">
                <img src="img/foto.jpg" alt="imagem do produto">
                <span>Nome Nome Nome Nome</span>
                <span>Descrição Descrição Descrição Descrição </span>

                <div>
                    <span>R$ 00,00</span>
                    <button>Excluir</button>
                </div>

            </div>

        </section>

    </main>

</body>