<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica de Privacidade </title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/politica.css">
</head>
<header>

    <a href="/">
        
        <picture>

            <source media="(max-width: 390px)" srcset="img/logo-icon.png">
            <source media="(max-width: 479px)" srcset="img/logo-icon.png">
            <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">
    
        </picture>
    </a>


</header>
<body>

    <header>
        <h1>Política de Privacidade</h1>
    </header>
    <main>
        <section>
            <h2>1. Informações Pessoais</h2>
            <p>Nós garantimos que as informações que você fornece estão em servidores e computadores armazenados em ambientes seguros e controlados, protegidos de acessos, usos e divulgações não-autorizadas. Nós matemos medidas de segurança administrativas, técnicas e físicas razoáveis, com finalidade de proteger os dados pessoais sob nossa custódia de de acessos.
  
            </p>
        </section>
        <section>
            <h2>2. Coleta de Dados</h2>
            <p>Quando você usa nosso site, podemos coletar informações, incluindo seu nome, endereço de e-mail, informações de pagamento e outros dados pessoais. Essas informações são coletadas de várias maneiras, como...</p>
        </section>
        <section>
            <h2>3. Uso de Informações</h2>
            <p>Nós usamos as informações coletadas para melhorar nossos serviços, personalizar sua experiência, processar pedidos, responder a perguntas e fornecer suporte ao cliente. Além disso, usamos esses dados para...</p>
        </section>
        <section>
            <h2>4. Compartilhamento de Informações</h2>
            <p>Nós não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros, exceto nas seguintes circunstâncias...</p>
        </section>
        <section>
            <h2>5. Cookies</h2>
            <p>Nosso site utiliza cookies para melhorar a experiência do usuário. Você pode gerenciar as configurações de cookies em seu navegador para aceitar ou recusar cookies.</p>
        </section>
        <section>
            <h2>6. Segurança de Dados</h2>
            <p>Estamos comprometidos em proteger suas informações pessoais e implementamos medidas de segurança para evitar acesso não autorizado, divulgação ou alteração dessas informações.</p>
        </section>
        <section>
            <h2>7. Alterações na Política de Privacidade</h2>
            <p>Podemos atualizar nossa política de privacidade periodicamente. As alterações entrarão em vigor assim que forem publicadas nesta página.</p>
        </section>
        <section>
            <h2>8. Informações de contato</h2>
            <p>Se você quiser entrar em contato conosco para saber mais sobre esta Política de Privacidade, ou quiser acessar quaisquer informações relativas aos seus direitos individuais e às suas Informações Pessoais, você poderá enviar um e-mail para o endereço: lojaathenashop.contato@gmail.com
            </p>
        </section>
       
    </main>
    <footer>
        <p>&copy; 2023 Athena Shop. Todos os direitos reservados.</p>
    </footer>
</html>