<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica de Privacidade </title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/politica.css">
</head>
<header>

    <a href="/">
        
        <picture>

            <source media="(max-width: 390px)" srcset="img/logo-icon.png">
            <source media="(max-width: 479px)" srcset="img/logo-icon.png">
            <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">
    
        </picture>
    </a>

    <input type="search" name="" id="search-bar-header">

    
    
    <a href="/usuario"><img src="img/profile-user_white.png" alt="perfil" id="profile-user"></a>

</header>
<body>
    <header>
        <h1>Política de Privacidade</h1>
    </header>

    <div class="privacy-policy">
        <p>
            Bem-vindo à nossa Política de Privacidade. Aqui, explicamos como coletamos, usamos e protegemos suas informações pessoais.
        </p>

        <h2>Coleta de Informações</h2>
        <p>
            Explicação sobre como as informações são coletadas, incluindo cookies e formulários.
        </p>

        <h2>Uso das Informações</h2>
        <p>
            Descrição do propósito do uso das informações coletadas.
        </p>

        <h2>Compartilhamento de Informações</h2>
        <p>
            Como e com quem compartilhamos suas informações.
        </p>

        <h2>Segurança de Dados</h2>
        <p>
            Medidas de segurança adotadas para proteger suas informações.
        </p>

        <h2>Seus Direitos</h2>
        <p>
            Seus direitos em relação às informações pessoais que coletamos.
        </p>

        <h2>Contato</h2>
        <p>
            Como entrar em contato conosco para dúvidas relacionadas à privacidade.
        </p>
    </div>

    <footer>
        © 2023 Nome da Sua Empresa. Todos os direitos reservados.
    </footer>
</html>