<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Restrita - Athena Shop</title>
    <link rel="stylesheet" href="css/restrito.css">
</head>
<header>

    <a href="/">
        
        <picture>

            <source media="(max-width: 390px)" srcset="img/logo-icon.png">
            <source media="(max-width: 479px)" srcset="img/logo-icon.png">
            <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">
    
        </picture>
    </a>


</header>
<body>
    <header>
        <h1>Acesso Restrito</h1>
        <h3>Você não possui permissão de acesso a está página!</h3>
    </header>
    <footer>
        <section class="section-2">
            <p><a href="/politica" class="p4">Politica de Privacidade</a></p>
            <p><a href="/contato" class="p4">Contato</a></p>
            <p><a href="/termos" class="p4">Termos de Uso</a></p>
            <p>
                <a href="/adm">Administrador</a>
            </p>
        </section>
    </footer>
</body>
</html>