<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Uso</title>
    <link rel="stylesheet" href="css/termos.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<header>

    <a href="/">
        
        <picture>

            <source media="(max-width: 390px)" srcset="img/logo-icon.png">
            <source media="(max-width: 479px)" srcset="img/logo-icon.png">
            <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">
    
        </picture>
    </a>


</header>
<body>
    <header>
        <h1>Termos de Uso</h1>
    </header>
    <main>
        <section>
            <h2>1. Aceitação dos Termos</h2>
            <p>Ao acessar e usar este site, você concorda em cumprir e ficar vinculado por estes Termos de Uso. Se você não concorda com qualquer parte destes termos, não use o site.</p>
        </section>
        <section>
            <h2>2. Uso do Site</h2>
            <p>Você concorda em usar este site apenas para fins legais e de acordo com estes termos. Você concorda em não utilizar o site para qualquer finalidade que seja ilegal ou proibida por estes termos.</p>
        </section>
        <section>
            <h2>3. Propriedade Intelectual</h2>
            <p>Todos os materiais, marcas registradas, direitos autorais e outros ativos intelectuais usados ou exibidos neste site são de propriedade da nossa empresa e estão protegidos por leis de direitos autorais.</p>
        </section>
        <section>
            <h2>4. Limitação de Responsabilidade</h2>
            <p>Não somos responsáveis por danos diretos, indiretos, especiais, incidentais ou consequentes decorrentes do uso ou incapacidade de usar este site.</p>
        </section>
        <section>
            <h2>5. Links para Terceiros</h2>
            <p>Este site pode conter links para sites de terceiros. Não somos responsáveis pelo conteúdo desses sites de terceiros.</p>
        </section>
        <section>
            <h2>6. Reserva de Direitos</h2>
            <p>Reservamos nosso direito de solicitar que você remova todos os links ou quaisquer links que redirecionem para nosso site. Você concorda em remover imediatamente todos os links para nosso site assim que a remoção for solicitada. Também reservamos nosso direito de corrigir e alterar estes termos e condições a qualquer momento. Ao publicar continuadamente links para nosso site, você concorda a seguir estes termos e condições sobre links.
            </p>
        </section>
        <section>
            <h2>7. Declaração de Isenção de Responsabilidade</h2>
            <p>No máximo possível permitido por lei, nós excluímos todas as representações, garantias e condições relativas ao nosso site e ao uso deste site. Nada nesta declaração de isenção de responsabilidade vai:
                <ul>
                <li>limitar ou excluir nossa responsabilidade ou sua responsabilidade por mortes ou danos pessoais;</li>
                <li>limitar ou excluir nossa responsabilidade ou sua responsabilidade por fraudes ou deturpações fraudulentas;</li>
                <li>limitar nossa responsabilidade ou sua responsabilidade de quaisquer maneiras que não forem permitidas sob a lei;</li>
                <li>excluir quaisquer responsabilidades suas ou nossas que não podem ser excluídas de acordo com a lei aplicável.</li>
            </ul>
            </p>
        </section>
        
    </main>
    <footer>
        <p>&copy; 2023 Athena Shop. Todos os direitos reservados.</p>
    </footer>
    
</body>
</html>