<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados - Athena Shop</title>

    <link rel="stylesheet" href="css/user_dados.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/carrinholateral.css">
    <link rel="stylesheet" href="css/header.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">

</head>

<body>

    <header>

        <a href="/">

            <picture>

                <source media="(max-width: 390px)" srcset="img/logo-icon.png">
                <source media="(max-width: 479px)" srcset="img/logo-icon.png">
                <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">

            </picture>
        </a>

        <input type="search" name="" id="search-bar-header" placeholder="Pesquisar...">

        <i class='bx bx-cart' id="cart-icon"></i>

        <a href="/usuario"><i class='bx bxs-user-circle' id="profile-user"></i></a>

    </header>

</body>

</html>