<form action="/perfil" method="post" enctype="multipart/form-data">
    <span>foto de perfil</span><br>
    <input type="file" name="img_usuario"><br>
    <span>nome</span><br>
    <input type="text" name="nome"><br>
    <span>email</span><br>
    <input type="text" name="email"><br>
    <span>senha</span><br>
    <input type="text" name="senha"><br>
    <span>cpf</span><br>
    <input type="text" name="cpf"><br>
    <span>telefone</span><br>
    <input type="text" name="telefone"><br>
    <button>enviar</button>
</form>