<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/usuario.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/carrinholateral.css">
    <link rel="stylesheet" href="css/footer.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">

    <title>Usuário - Athena Shop</title>
</head>

<body>
    <% if(autenticado.autenticado){ if(autenticado.login){%>
        <h3>Login efetuado com sucesso, Olá <%= autenticado.autenticado%>
        </h3>
        <% } } %>

            <header>

                <a href="/">

                    <picture>

                        <source media="(max-width: 390px)" srcset="img/logo-icon.png">
                        <source media="(max-width: 479px)" srcset="img/logo-icon.png">
                        <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">

                    </picture>
                </a>

                <input type="search" name="" id="search-bar-header" placeholder="Pesquisar...">

                <i class='bx bx-cart' id="cart-icon"></i>

                <a href="/usuario"><i class='bx bxs-user-circle' id="profile-user"></i></a>

            </header>

            <main>

                <section class="sec-user">

                    <div class="username-area">
                       
                            <div>
                                <img src="<%=autenticado.img_usuario%>" alt="foto de perfil" id="profile-photo">
                            </div>
                            

                        <h3>
                            <%= autenticado.autenticado%>
                        </h3>

                    </div>

                    <button>
                        <a href="/sair">
                            <i class='bx bx-log-out'></i>
                            <h1>Sair</h1>
                        </a>
                    </button>

                </section>

                <section class="sec-venda-area">
                    <div>
                        <p>Anuncie em nossa plataforma</p>

                        <h4>Anuncie seu produto e comece a vender agora.</h4>
                    </div>
                    <a href="/anunciar">
                        <button> <i class='bx bx-package'></i><span>Anunciar agora</span></button>
                    </a>
                </section>

                <section class="sec-buttons-area">

                    <div class="buttons-area">

                        <button>
                            <a href="/favoritos/<%=autenticado.id%>">
                                <i class='bx bxs-store'></i>
                                <p>Painel do vendedor</p>
                                <i class='bx bxs-chevron-right'></i>
                            </a>
                        </button>

                        <button>
                            <a href="/painelvendedor">
                                <i class='bx bxs-store'></i>
                                <p>Painel do vendedor</p>
                                <i class='bx bxs-chevron-right'></i>
                            </a>
                        </button>

                        <button>
                            <a href="/user_dados">
                                <i class='bx bxs-user-circle'></i>
                                <p>Meus dados</p>
                                <i class='bx bxs-chevron-right'></i>
                            </a>
                        </button>

                        <button>
                            <a href="">
                                <i class='bx bx-history'></i>
                                <p>Histórico de compras</p>
                                <i class='bx bxs-chevron-right'></i>
                            </a>
                        </button>

                        <button>
                            <a href="">
                                <i class='bx bxs-check-shield'></i>
                                <p>Segurança</p>
                                <i class='bx bxs-chevron-right'></i>
                            </a>
                        </button>

                        <button>
                            <a href="/cartao">
                                <i class='bx bxs-credit-card-alt'></i>
                                <p>Cartões</p>
                                <i class='bx bxs-chevron-right'></i>
                            </a>
                        </button>

                        <!-- <button>
                            <a href="">
                                <i class='bx bxs-map-pin'></i>
                                <p>Endereço</p>
                                <i class='bx bxs-chevron-right'></i>
                            </a>
                        </button> -->

                        <button>
                            <a href="/politica">
                                <i class='bx bxs-lock'></i>
                                <p>Privacidade</p>
                                <i class='bx bxs-chevron-right'></i>
                            </a>
                        </button>

                        <button>
                            <a href="/comunicacao">
                                <i class='bx bxs-message-dots'></i>
                                <p>Comunicação</p>
                                <i class='bx bxs-chevron-right'></i>
                            </a>
                        </button>


                    </div>

                </section>

            </main>

            <footer>

                <div class="footer1">
                    <p><a href="" class="p4">Trabalhe conosco</a></p>
                    <p><a href="" class="p4">Termos e condições</a></p>
                    <p><a href="" class="p4">Como cuidamos da sua privacidade</a></p>
                </div>

                <div class="footer2">
                    <p><a href="" class="p4">Acessibilidade</a></p>
                    <p><a href="" class="p4">Contato</a></p>
                    <p><a href="" class="p4">Informações sobre seguro</a></p>
                    <p> <a href="/adm">Administrador</a> </p>
                </div>

            </footer>

</body>

</html>